PORT=8000
MONGO_URI=mongodb+srv://SohamDb_user:Soham123@cluster0.vrokby0.mongodb.net/
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET= b39b6d4f82565b89dbb88033158837c4c5a234b53775a5e9ab8636581ca4c39b
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET= 1232yysiufyy4uyagadagsguasdadfgaaagfafasgagdh
REFRESH_TOKEN_EXPIRY = 10d

